@model StackOverload.Models.Comment

<h3>Create an Comment</h3>

<form asp-controller="Home" asp-action="PostComment" method="post">
    <input type="hidden"  name="userId" value="@ViewBag.UserId" />
    <input type="hidden"  name="questionId" value="@ViewBag.QuestionId" />
    <input type="hidden"  name="answerId" value="@ViewBag.AnswerId" />

    <textarea type="text" name="body" placeholder="Enter Your Comment">@ViewBag.Body</textarea>
    <br />

    <button type="submit">
        Post Comment
    </button>
</form>

<a asp-action="Index">Go Back</a>
